# Ignored Files
#===============================================================================

#------------------------
## System Files
#------------------------

.DS_Store
Thumbs.db

#------------------------
## IDE
#------------------------

.vscode/
.idea/

#------------------------
## Temp Files
#------------------------

*.tmp
*.bak
*~

#------------------------
## Secret Files
#------------------------

env.md
prd.md

#***
EOF